<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<div class="PadLeft">
<h1>SAHM Central Announcements</h1>

<% all_announcements = Announcement.all(:order => "created_at DESC")%>
<% all_announcements.each do |announcement| %>
<div class="PadTop">
	<div class="FloatRight">
		<h5><%=h announcement.created_at.strftime("%B %d, %Y") %></h5>
	</div>
	<% link_to(announcement) do %>
    <h3><%=h announcement.title %></h3>
    <div style="padding-top:5px;" ><%= render :text => announcement.content.slice(0,200).concat("...").gsub!(/(<[^>]*>)|\n|\t/s) {" "} %></div>
	<% end %>
</div>
<% end %>
</table>
</div>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>