<body topmargin="0" bottommargin="0">
<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<div class="PadLeft">
    <h1>Site Map</h1>
    <h3><a href="http://sahmcentral.com">Home</a></h3>
    <h3><a href="/about">About Us</a></h3>
 	<h3><%= link_to 'Blog Postings', posts_path %></h3>
<% recent_posts = Post.all(:order => "created_at DESC")%>
<% recent_posts.each do |ind_post| %>
    <div><%= link_to ind_post.title, ind_post %></div>
<% end %>
	<h3><%= link_to 'Announcements', announcements_path %></h3>
<% recent_announcements = Announcement.all(:order => "created_at DESC")%>
<% recent_announcements.each do |ind_announcement| %>
    <div><%= link_to ind_announcement.title, ind_announcement %></div>
	<h3><%= link_to 'Survey', new_survey_path%></h3>
<% end %>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>