<div class="RightContent">
<div class="Section">
 <h3>Blog Postings</h3>
<% recent_posts = Post.all(:limit => 10, :order => "created_at DESC")%>
<% recent_posts.each do |ind_post| %>
    <div><%= link_to ind_post.title, ind_post %></div>
<% end %>
	<h3><%= link_to 'All Blog Posts', posts_path %></h3>
</div>
<div class="Section">
<h3>Announcements</h3>
<% recent_announcements = Announcement.all(:limit => 10, :order => "created_at DESC")%>
<% recent_announcements.each do |ind_announcement| %>
    <div><%= link_to ind_announcement.title, ind_announcement %></div>
<% end %>
	<h3><%= link_to 'All Announcements', announcements_path %></h3>	
</div>
<div class="Section">
<h3>Email Alerts</h3>
	<% @email_alert = EmailAlert.new %>
	<% form_for(@email_alert) do |f| %>
	<% if @email_alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email_alert.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email_alert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
	  <p>
	    <div class="emailAlertLabel">Email Address <span style="color: red">*</span></div> 
	    <%= f.text_field :address %>
	  </p>
	  <p>
	    <%= f.submit 'Submit Email' %>
	  </p>
	<% end %>
</div>
</div>