<body topmargin="0" bottommargin="0" id="HomePage">
<center>
<div class="center">
<div class="innerSite">
<div class="innerBody">
<div class="Header">
</div>
<div class="InnerContent">
<% allPages = Page.find(:all, :conditions => "name = 'home'", :order => "created_at DESC")%>
<% allPages.each do |page| %>
    <h1><%=h page.title %></h1> 
    <div><%=raw render :text => page.content %></div>
<% end %>
</div>
<div class="pageFooter">
<div class="Navigation">
    <ul><li><%= link_to 'Blog', posts_path %></li><li><%= link_to 'Announcements', announcements_path %></li><li><a class="lastrow" href="/about">About Us</a></li></ul>
</div>
<h1 class="siteLogo"><a href="http://sahmcentral.com"><img class="logo" src="http://sahmcentral.com/images/logoLarge.png" alt="Sahmcentral.com"></a></h1>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>