<center>
<div class="center">
<div class="innerSite">
<div class="innerBody">
<div class="Header">
</div>
<div class="InnerContent">
<% allPages = Page.find(:all, :conditions => "name = 'home'", :order => "created_at DESC")%>
<% allPages.each do |page| %>
<div class="PadLeft">
	<img class="homeLogo" src="http://sahmcentral.com/images/logo-home.png" alt="Sahmcentral.com">
    <!--<h1><%=h page.title %></h1> -->
    <div><%=raw render :text => page.content %></div>
</div>
<% end %>
</div>
<div class="pageFooter">
<div class="Navigation">
    <ul><li><%= link_to 'Blog', posts_path %></li><li><%= link_to 'Announcements', announcements_path %></li><li><%= link_to 'Survey', new_survey_path %></li><li><a class="lastrow" href="/about/index">About Us</a></li></ul>
</div>
</div>
<div class="footer">
</div>
</div>
</div>
</div>
</center>