<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What is your favorite website to use and why?<br />
    <%= f.text_area :question1 %>
  </div>
  <div class="field">
   What do you wish you would have known before becoming a Mom (that would have made your life easier from the beginning haha)?<br />
   <%= f.text_area :question2 %>
  </div>
  <div class="field">
    What is something you would like to see in a Mom website that is not already out there or is hard to find?<br />
    <%= f.text_area :question3 %>
  </div>
  <div class="field">
    What is something that you would like to know more about (or are just curious about)?<br />
    <%= f.text_field :question4 %>
  </div>
  <div class="field">
    How many children do you have?<br />
    <%= f.text_field :question5 %>
  </div>
  <div class="field">
    Are you: <br />
    <%= f.radio_button :question6, "SAHM" %>a) SAHM
    <%= f.radio_button :question6, "WAHM (work at home mom)" %>b) WAHM (work at home mom)
    <%= f.radio_button :question6, "working mom" %>c) working mom
    <%= f.radio_button :question6, "all of the above" %>d) all of the above
    <%= f.radio_button :question6, "just an awesome mom!" %>e) just an awesome mom!
  </div>
  <div class="field">
    How can we make your life easier?<br />
    <%= f.text_field :question7 %>
  </div>    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
