<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What would you like to learn most about?<br />
    <%= f.text_field :question1 %>
  </div>
  <div class="field">
    Are you a: SAHM b: SAHM/work from home c: Work full time<br />
    <%= f.text_field :question2 %>
  </div>
  <div class="field">
    What knowledge have you gained since having kids that would have helped you earlier on as parents<br />
    <%= f.text_field :question3 %>
  </div>
  <div class="field">
    How  many children do you have?<br />
    <%= f.text_field :question4 %>
  </div>
  <!-- <div class="field">
    <%= f.label :question5 %><br />
    <%= f.text_field :question5 %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
