<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    What would you like to learn most about?<br />
    <%= f.text_area :question1 %>
  </div>
  <div class="field">
    Are you <br />
    <%= f.radio_button :question2, "SAHM" %>a: SAHM
    <%= f.radio_button :question2, "SAHM/work from home" %>b: SAHM/work from home
    <%= f.radio_button :question2, "Work full time" %>c: Work full time
  </div>
  <div class="field">
    What knowledge have you gained since having kids that would have helped you earlier on as parents<br />
    <%= f.text_area :question3 %>
  </div>
  <div class="field">
    How  many children do you have?<br />
    <%= f.text_field :question4 %>
  </div>
  <!-- <div class="field">
    <%= f.label :question5 %><br />
    <%= f.text_field :question5 %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
