<body topmargin="0" bottommargin="0">
<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<div class="PadLeft">
<h1>SAHM Central Blog Posts</h1>

<% all_posts = Post.all(:order => "created_at DESC")%>
<% all_posts.each do |post| %>
<div class="PadTop">
	<div class="FloatRight">
		<h5><%=h post.created_at.strftime("%B %d, %Y") %></h5>
	</div>
    <% link_to(post) do %>
    <h3><%=h post.title %></h3>
    <div style="padding-top:5px;" ><%= render :text => post.content.slice(0,200).concat("...").gsub!(/(<[^>]*>)|\n|\t/s) {" "} %></div>
	<% end %>
</div>
<% end %>
</div>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>