<body topmargin="0" bottommargin="0">
<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<div class="PadLeft">
	<div class="FloatRight">
		<h3><%=h @post.name %></h3>
		<h3><%=h @post.created_at.strftime("%B %d, %Y") %></h3>
	</div>
    <h1><%=h @post.title %></h1>
    <div><%=raw render :text => @post.content%></div>
</div>
<div class="PadLeft beginComment"><h2>Comments</h2>
<% @comments = Comment.find(:all, :conditions => "post_id = '#{@post.id}'", :order => "created_at DESC")%>
<% @comments.each do |comment| %>
<div class="comment">
	<div class="FloatRight">
		<h5><%=h comment.user %></h5>
		<h5><%=h comment.created_at.strftime("%B %d, %Y") %></h5>
	</div>
<h3><%=h comment.title %></h3>
<div class="commentContent"><%= render :text => comment.content %></div>
</div>
<% end %>
</div>
<div class="PadLeft">
	<div class="newComment">
	<p style="color: red"><%= flash[:notice] %></p>
	<h3>Add Comment</h3>
	<% @comment = Comment.new %>
	<% form_for(@comment) do |f| %>
	<% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	  <p>
	    <div class="commentLabel">Name <span style="color: red">*</span></div> 
	    <%= f.text_field :user %>
	  </p>
	  <p>
	    <div class="commentLabel"><%= f.label :title %> <span style="color: red">*</span></div> 
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.text_area  :content %>
	  </p>
	  <p>
	    <%= f.hidden_field :post_id, :value => @post.id%>
	  </p>
	  <p>
	    <%= f.hidden_field :announcement_id, :value => ""%>
	  </p>
	  <p>
	    <%= f.hidden_field :page_id, :value => ""%>
	  </p>
	  <p>
	    <%= f.submit 'Post Comment' %>
	  </p>
	<% end %>
	</div>
 </div>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>
