<body topmargin="0" bottommargin="0">
<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<% allPages = Page.find(:all, :conditions => "name = 'about'", :order => "created_at DESC")%>
<% allPages.each do |page| %>
<div class="PadLeft">
    <h1><%=h page.title %></h1> 
    <div><%= render :text => page.content %></div>
</div>
<% end %>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>